
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lora', serif;
    font-size: 16px;
    line-height: 1.6;
    transition: background-color 0.3s ease, color 0.3s ease; 
}

body.light {
    background-color: #a57b54;
    color: #333;
}

body.dark {
    background-color: #68573d;
    color: #fff;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #755b3e;
    transition: background-color 0.3s ease;
}

body.dark .navbar {
    background-color: #755b3e;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 1rem;
}

.nav-links a {
    text-decoration: none;
    color: inherit;
    padding: 0.5rem;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #ffffff;
}

#theme-toggle {
    padding: 0.5rem 1rem;
    border: none;
    background-color: #343530;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    transition: transform 0.3s ease, background-color 0.3s ease; 
}

#theme-toggle:hover {
    transform: scale(1.05);
    background-color: #d1a64a;
}

.home-main {
    text-align: center;
    padding: 2rem;
}

.banner-img {
    padding: 50px;
    max-width: 50%;
    height: min-content;
    transition: transform 0.3s ease; 
    border-radius: 75px 200px 75px 200px;
}

.banner-img:hover {
    transform: scale(1.10);
}

.productos-main {
    text-align: center;
    padding: 2rem;
}

.galeria {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

.tarjeta {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 1rem;
    border-radius: 15px;
    text-align: center;
    width: 200px;
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
    cursor: pointer;
    
}

body.dark .tarjeta {
    background-color: #806640;
    border-color: #777;
}

.tarjeta:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.tarjeta img {
    
    max-width: 100%;
    height: auto;
    transition: transform 0.3s ease;
     border-radius: 15px;
}

.tarjeta img:hover {
    transform: scale(1.1);
}

.sobre-main {
    text-align: center;
    padding: 2rem;
    max-width: 800px;
    margin: 0 auto;
}

.equipo {
    display: flex;
    gap: 2rem;
    justify-content: center;
    margin-top: 1rem;
}

.miembro {
    flex: 1;
    text-align: center;
    padding: 1rem;
    background-color: #f4f4f4;
    border-radius: 50px 25px 50px 25px ;
}

body.dark .miembro {
    background-color: #806640;
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
    }
    
    .galeria {
        flex-direction: column;
        align-items: center;
    }
    
    .equipo {
        flex-direction: column;
    }
}


.nav-links button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    transition: transform 0.3s ease, background-color 0.3s ease; 
}

.nav-links button:hover {
    background-color: #eaeef1;
    transform: scale(1.05); 
}

.nav-links button a {
    color: white;
    text-decoration: none;
    transition: none; 
}

.nav-links .ini {
    background-color:#ac7c45; 
}

.nav-links .ini:hover {
    background-color:#584f50;
}

.nav-links .produ {
    background-color: #ac7c45; 
}

.nav-links .produ:hover {
    background-color:#584f50;
}

.nav-links .sob {
    background-color: #ac7c45; 
}

.nav-links .sob:hover {
    background-color: #584f50;
}
.footer {
 text-align: center;
 background-color: #755b3e;
}